version: "3.9"

services:
  app:
    build: .
    container_name: game-price-app
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    working_dir: /app
    command: >
      sh -c "
        echo 'Training model...' &&
        python train.py &&
        echo 'Starting Streamlit...' &&
        streamlit run app.py --server.port=8501 --server.address=0.0.0.0
      "
  